zoom.conf
zoomus.conf
QtProject.conf
pavucontrol.ini
mimeapps.list
kdenlive-layoutsrc
kdenliverc
kdeglobals
filelightrc
kconf_updaterc
emaildefaults
emailidentities
dolphinrc
breezerc
baloofilerc
baloofileinformationrc
defaultcalendarrc
zsh/.zcompdump
yarn
yay
xournalpp
xfe
xfce4-dict
xfce4/*
!xfce4/zathura
xfburn
xarchiver
VSCodium/*
!VSCodium/User/
VSCodium/User/globalStorage
VSCodium/User/History
VSCodium/User/snippets
VSCodium/User/workspaceStorage
vnstat-client
vlc
unity3d
Thunar
Sizzy
session
rncbc.org
Raven Reader
QtProject
qt5ct
qBittorrent
pulse
procps
Postman
pomotroid
picom
obsidian
obs-studio
nextjs-nodejs
news-flash
neofetch
MongoDB Compass
menus
Mathpix
marktext
LosslessCut
libvirt
libreoffice
libfm
libaccounts-glib
launcher
kde.org
kazam
inkscape
htop
gtk-2.0
gtk-3.0
gtk-4.0
gthumb
gpu-screen-recorder
gpick
glib.2.0
GitKraken
GIMP
ghostwriter
gh
geogebra
fontforge
fontconfig
font-manager
Electron
easytag
discord
dconf
configstore
coc
chromium
cef_user_data
beekeeper-studio
bat
balena-etcher
balena-etcher-electron
akonadi
Abricotine
wallpaper