*
!.gitignore
!.install.sh
!.autostart.sh
!.bashrc
!.xbindkeysrc
!.Xresources
!.dmrc
!.tmux.conf
!.screen.png

!README.md

THIS_IS_UTERLY_FUCKING_RETARDED

!.zshenv

!.config/
!.config/zsh
!.config/.zshrc

!.config/wall.jpg

!.config/helix
!.config/helix/config.toml
!.config/helix/languages.toml


!.config/zsh/
!.config/zsh/.zshrc

!.config/rofi
!.config/rofi/config.rasi

!.config/VSCodium/
!.config/VSCodium/User/
!.config/VSCodium/User/keybindings.json
!.config/VSCodium/User/settings.json

!.config/mpv/
!.config/mpv/input.conf
!.config/mpv/mpv.conf

!.config/kazam
!.config/kazam/kazam.conf

!.config/nvim/
!.config/nvim/init.vim
!.config/nvim/colors
!.config/nvim/colors/pixelmuerto.vim

!.config/kitty/
!.config/kitty/kitty.conf

!.config/ranger/
!.config/ranger/rc.conf

!.config/bat/
!.config/bat/config

!.config/kazam/
!.config/kazam/kazam.conf

!.config/polybar/
!.config/polybar/config.ini
!.config/polybar/scripts
!.config/polybar/scripts/get_weather.sh
!.config/polybar/scripts//mpv
!.config/polybar/scripts//mpv/pause.sh
!.config/polybar/scripts//mpv/skip.sh
!.config/polybar/scripts//mpv/current.sh

!.config/kazam
!.config/kazam/kazam.conf

!.config/xfce4/
!.config/xfce4/xfce4-screenshooter

!.config/starship.toml

!.config/alacritty
!.config/alacritty/alacritty.yml

!.themes
!.themes/vacui/
!.themes/vacui/themerc

!.fonts
!.fonts/Hasklug Nerd Font Complete Mono.otf
!.fonts/unscii-16-full.ttf
!.fonts/BorgSansMono.ttf
!.fonts/Hasklig-Regular.ttf
!.fonts/Hasklig-Regular.ttf
!.fonts/iosevka-regular.ttf
!.fonts/Lucida Console.ttf
!.fonts/SourceHanSansCN-Normal.otf
!.fonts/unscii-8.ttf
!.fonts/VictorMono-Bold.ttf
!.fonts/VictorMono-Italic.ttf
!.fonts/VictorMono-Regular.ttf
!.fonts/VT323-Regular.ttf
!.fonts/Garamond\ Bold.ttf
!.fonts/Garamond\ Italic.TTF
!.fonts/Garamond\ Regular.ttf
!.fonts/ 
!.fonts/
!.fonts/
