systemd/
autostart/autostart-1.desktop
Abricotine
akonadi
autostart/mathpix*
autostart/xfce*
balena-etcher
balena-etcher-electron
baloofileinformationrc
baloofilerc
beekeeper-studio
breezerc
cef_user_data
chromium
coc
configstore
dconf
defaultcalendarrc
discord
dolphinrc
easytag
Electron
emaildefaults
emailidentities
filelightrc
fontconfig
fontforge
font-manager
geogebra
glib
ibus
gh
ghostwriter
GIMP
GitKraken
glib.2.0
gpick
gpu-screen-recorder
gthumb
gtk-2.0
gtk-3.0
gtk-4.0
htop
inkscape
kazam
kconf_updaterc
kdeglobals
kdenlive-layoutsrc
kdenliverc
kde.org
launcher
libaccounts-glib
libfm
libreoffice
libvirt
LosslessCut
marktext
Mathpix
menus
mimeapps.list
MongoDB Compass
neofetch
news-flash
nextjs-nodejs
obsidian
obs-studio
pavucontrol.ini
picom
pomotroid
Postman
procps
pulse
qBittorrent
qt5ct
QtProject
QtProject.conf
Raven Reader
rncbc.org
session
Sizzy
Thunar
unity3d
vlc
vnstat-client
VSCodium/*
!VSCodium/User/
VSCodium/User/globalStorage
VSCodium/User/History
VSCodium/User/snippets
VSCodium/User/workspaceStorage
wallpaper
xarchiver
xfburn
xfce4/*
!xfce4/zathura
!xfce4/xfconf/
xfce4/xfconf/xfce-perchannel-xml/displays.xml
xfce4/xfconf/xfce-perchannel-xml/keyboard-layout.xml
xfce4/xfconf/xfce-perchannel-xml/thunar.xml
xfce4/xfconf/xfce-perchannel-xml/xfce4-desktop.xml
xfce4/xfconf/xfce-perchannel-xml/xfce4-notifyd.xml
xfce4/xfconf/xfce-perchannel-xml/xfce4-panel.xml
xfce4/xfconf/xfce-perchannel-xml/xfce4-power-manager.xml
xfce4/xfconf/xfce-perchannel-xml/xfce4-screenshooter.xml
xfce4/xfconf/xfce-perchannel-xml/xfce4-session.xml
xfce4/xfconf/xfce-perchannel-xml/xfce4-settins-manager.xml
xfce4/xfconf/xfce-perchannel-xml/xfce4-screensaver.xml

# xfce4/xfconf/xfce-perchannel-xml/xfce4-keyboard-shortcuts.xml

xfce4-dict
xfe
xournalpp
yarn
yay
zoom.conf
zoomus.conf
zsh/.zcompdump

go/
charon/
Arduino\ IDE
arduino-ide
com.tauri.dev
conduit
google-chrome-for-testing/
org.gh_dynamo58.charon/
simple-update-notifier/
texstudio
