snippet ( "parenthesis" iA
($1)$0
endsnippet

snippet [ "bracket" iA
[$1]$0
endsnippet

snippet { "bracket" iA
{$1}$0
endsnippet

snippet < "less-greater" iA
<$1>$0
endsnippet

snippet " "quotation mark" iA
"$1"$0
endsnippet

snippet „ "Czech quotation mark" iA
„$1“$0
endsnippet

snippet zv "Czech quotation mark"
„$1“$0
endsnippet

